

.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 30px;
  text-align: left;
}

.contacts .contacts__heading {
  margin: 0 0 35px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts .contacts__table {
  margin: 0 0 40px;
  border-collapse: collapse;
  border: none;
  color: @light-black;
  font-size: 15px;
  line-height: 30px;
}

.contacts__table .contacts-info {
  padding-right: 30px;
  padding-bottom: 30px;
  vertical-align: top;

  &:nth-of-type(4) {
    padding-right: 45px;
  }

  & a {
    padding-right: 0;
    font-size: 15px;
    line-height: 30px;
    color: @light-black;
    text-decoration: underline;
    text-decoration-color: @light-blue;
  }
}

.contacts .contacts__map {
  position: relative;
  width: 320px;
  height: 457px;
  margin: 0 -30px 40px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 left 0;

  &::after {
    position: absolute;
    content: "";
    width: 66px;
    height: 101px;
    top: 140px;
    left: 140px;
    background-image: url("../img/icon-map-pin.svg");
  }
}
/*tablet-version*/
@media (min-width:768px) {
  .contacts {
    position: relative;
    padding: 65px 50px;

    &::after {
      position: absolute;
      content: "";
      top: 45px;
      right: 50px;
      width: 47px;
      height: 82px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts .contacts__heading {
    margin-bottom: 60px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts .contacts__table {
    margin: 0;
    font-size: 17px;
  }

  .contacts__table tbody {
    display: flex;
    flex-direction: row;
  }

  .contacts__table tr {
    width: 334px;
  }

  .contacts__table .contacts-info {
    padding-right: 25px;
    padding-bottom: 30px;
    vertical-align: top;

    & a {
      font-size: 17px;
    }
  }

  .contacts .contacts__map {
    width: 768px;
    height: 457px;
    margin: 0 -50px 55px;
    background-image: url("../img/map-tablet@1x.jpg");

    &::after {
      left: 360px;
    }
  }

  .contacts .contacts__write {
    width: 230px;
    margin: 0 auto;
  }
}
/*desktop-version*/
@media (min-width:1250px) {
  .contacts {
    padding: 145px 100px 100px 275px;

    &::after {
      top: 130px;
      left: 140px;
    }
  }
  .contacts .contacts__heading {
    margin-right: auto;
    font-size: 53px;
    line-height: 57px;
  }
  .contacts .contacts__table {
    margin-right: auto;
  }

  .contacts__table tbody {
    display: flex;
    flex-direction: column;
  }

  .contacts__table tr {
    width: 350px;
  }

  .contacts__table .contacts-info {
    padding-right: 50px;
    padding-bottom: 40px;
    vertical-align: top;

    & a {
      font-size: 17px;
    }
  }

  .contacts .contacts__map {
    position: absolute;
    right: 100px;
    top: 70px;
    margin:0;
    width: 525px;
    height: 457px;
    background-image: url("../img/map-desktop@1x.jpg");

    &::after {
      left: 245px;
    }
  }

  .contacts .contacts__write {
    width: 230px;
    margin: 0 auto 105px 0;
  }
}
