.features {
  padding: 0;
  background-color: #d9dade;
  width: 320px;
  height: 489px;
  background: url("/img/hero-mobile@1x.jpg") no-repeat;
  background-position: -127px -18px;
}

.features__heading-wrapper {
  padding: 70px 30px 123px;
  text-align: center;
}

.features__section {
  position: relative;
  background-color: #63d1bb;
  padding: 25px 180px 30px 30px;
}

.features__section--toys {
  background-color: #56c3b2;
}

.features__section--link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", Arial, serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
