.footer {
  width: auto;
  background-color: @light-gray;
}

.footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  align-items: center;
}

.footer .page-footer__logo {
  display: none;
}

.footer .footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
}

.footer__social li {
  padding: 23px 20px;
}

.footer__social .footer__social--insta {
  margin-left: auto;
}

.footer__social .footer__social--tw {
  margin-right: auto;
}

.footer .footer__copyright {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 28px 60px 34px 0;
  color: @light-black;

  &:active {
    color: @gray;
  }
}

.footer__copyright--logo {
  position: absolute;
  width: 30px;
  height: 35px;
  right: 0;
  top: 20px;
  fill: @light-blue;
}

/*tablet-version*/

@media (min-width: 768px) {
  .footer .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding: 0 45px 0 52px;
  }

  .footer .page-footer__logo {
    display: block;
    width: 185px;
    height: 34px;
    margin-top: 50px;
    margin-bottom: 60px;

    &:hover,
    &:focus {
      & svg {
        fill: #46c1ae;
      }
    }

    &:active {
      & svg {
        fill: #e5f6f4;
      }
    }
  }

  .footer .footer__social {
    border-bottom: none;
    margin: 0 auto;
  }

  .footer .footer__copyright {
    width: 185px;
    padding: 35px 60px 35px 0;
    margin: 0;

    & svg {
      top: 30px;
    }
  }
}

/*desktop-version*/

@media (min-width: 1150px) {
  .footer .footer-wrapper {
    width: 1150px;
    padding: 0 48px 0 52px;
  }

  .footer .page-footer__logo {
    margin-top: 52px;
    margin-bottom: 58px;
  }

  .footer .footer__copyright {
    padding: 40px 60px 40px 0;
    margin: 0;

    & svg {
      top: 35px;
    }
  }
}
