.page-header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: @white;
}

.page-header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.page-header__nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__nav a {
  display: block;
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: @black;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.page-header__menu--button {
  display: none;
  border: none;
  background-color: @white;
}

.page-header__user-list a {
  position: relative;

  &:hover svg,
  &:focus svg {
    & path {
      fill: #46c1ae;
    }
  }

  &:active svg {
    & path {
      fill: #e5f6f4;
    }
  }
}

.page-header__user-list .basket-icon svg,
.page-header__user-list .search-icon svg {
  position: absolute;
  top: 35px;
  left: 30px;
  opacity: 0.3;

  & path {
    fill: @light-black;
  }
}

.page-header__logo--link:hover,
.page-header__logo--link:focus {
  & img {
    opacity: 0.6;
  }
}

.page-header__logo--link:active {
  & img {
    opacity: 0.3;
  }
}

.page-header__nav .page-header_list--off {
  display: none;
}

.page-header__nav .page-header__delivery,
.page-header__nav .page-header__pop-list {
  display: none;
  z-index: 2;
}

/*mobile-version*/

@media (min-width: 150px) and (max-width: 767px) {
  .page-header__nav ul {
    width: 320px;
    margin: 0 auto;
  }

  .page-header__nav a {
    width: 320px;
    padding: 30px 10px 30px 75px;
    margin: 0 auto;
    border-bottom: 1px solid @gray;
  }

  .page-header__nav .page-header__logo {
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid @gray;
  }

  .page-header__nav .page-header__logo--link {
    padding: 22px 0 17px;
    text-align: center;
  }

  .page-header__logo--image {
    width: 86px;
    height: 35px;
  }

  .page-header__menu--button {
    position: absolute;
    top: 0;
    right: 2px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .button-off {
    background-image: url("../img/icon-menu-open.svg");
  }
}

/*tablet-version*/

@media (min-width: 768px) {
  .page-header {
    margin-bottom: -60px;
    background-color: transparent;
  }

  .page-header .page-header__logo {
    z-index: 3;
    position: absolute;
    left: 50px;
    top: 22px;
    width: 170px;
  }

  .page-header .page-header__nav {
    position: relative;
    width: 768px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: transparent;
  }

  .page-header__nav .page-header__user-list {
    display: flex;
    order: -1;
    justify-content: flex-end;
    width: 100%;
    padding: 0 50px;
    border-bottom: 1px solid @gray;
    background-color: @white;
  }

  .page-header__user-list a {
    padding-left: 81px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 1px solid @gray;
  }

  .search-icon {
    font-size: 0;
  }

  .page-header__nav .page-header__nav-list {
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-left: 50px;
  }

  .page-header__nav-list a {
    width: 167px;
    font-size: 15px;
    text-align: left;
  }

  .page-header__nav .page-header__delivery {
    display: block;
    text-align: right;
    padding: 18px 50px;
    color: #878787;
    font-size: 15px;
    z-index: 2;
  }
}

/*desktop-version*/

@media (min-width: 1150px) {
  .page-header .page-header__logo {
    left: 500px;
    top: 10px;
    width: 160px;
  }

  .page-header .page-header__nav {
    width: 1150px;
  }

  .page-header__nav .page-header__user-list {
    order: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 50%;
    padding: 0 50px 0 0;
    margin: 0;
    background-color: @white;
  }

  .page-header__user-list a {
    padding-left: 82px;
    letter-spacing: 0.2px;
  }

  .page-header__nav .page-header__nav-list {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    background-color: @white;
    border-bottom: 1px solid @gray;
    & li:first-child a {
      border: none;
    }
  }

  .page-header__nav-list a {
    width: 220px;
    padding: 32px 5px 32px 34px;
    text-align: left;
    font-size: 17px;
    border-left: 1px solid @gray;
  }

  .page-header__nav .page-header__pop-list {
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .page-header__pop-list a {
    width: 220px;
    padding: 18px 5px 18px 50px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

