.process {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px auto 57px;
  width: 260px;
  border: 1px solid @gray;

  &:hover,
  &:focus {
    box-shadow: 10px 5px 10px @gray;
  }

  &:active {
    box-shadow: 5px 5px 10px @gray;
  }
}

.process .process__heading {
  position: relative;
  display: block;
  padding: 23px 25px 23px 90px;
  margin: 0;
  font-weight: bold;
  color: @black;
}

.process .process__heading--icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 35px;
  top: 29px;
  fill: @dark-blue;
}

.process .process__video {
  position: relative;
  padding: 0;
  margin: 0;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.webp"), url("../img/video-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.webp"), url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.process .process__video--movie {
  width: 260px;
}

.process .process__video--button {
  position: absolute;
  left: 73px;
  top: 35px;
  border: none;
  background-color: transparent;
  z-index: 10;

  &:hover,
  &:focus {
    & svg {
      height: auto;
      width: 120%;
    }
  }

  &:active {
    & svg {
      height: auto;
      width: 80%;
    }
  }
}

.process .process__description {
  padding: 27px 40px 25px 35px;
  margin: 0;
  text-align: left;
  font-size: 13px;
  color: @light-black;
}

.process .process__button--buy {
  padding: 14px 0;
  margin-bottom: 32px;
  width: 190px;
  letter-spacing: -0.5px;

  &:hover,
  &:focus {
    color: @white;
    background-color: @light-black;
  }

  &:active {
    color: @gray;
  }
}

/*tablet-version*/

@media (min-width: 768px) {
  .process {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 62px;
    width: 668px;
    border-bottom: 1px solid @gray;
  }

  .process .process__heading {
    padding: 38px 25px 32px 105px;
    font-size: 20px;
    align-self: flex-start;
    letter-spacing: 0.2px;
  }

  .process .process__heading--icon {
    left: 42px;
    top: 35px;
  }

  .process .process__video {
    order: -1;
    width: 668px;
    height: 456px;
    padding: 0;
    margin: 0;
    background-image: url("../img/video-tablet@1x.webp"), url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.webp"), url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .process .process__video--button {
    left: 278px;
    top: 190px;
  }

  .process .process__description {
    padding: 0 35px 35px 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .process .process__button--buy {
    width: 583px;
    margin: 0 auto 45px;
  }
}

/*desktop-version*/

@media (min-width: 1150px) {
  .process {
    position: relative;
    justify-content: flex-start;
    margin: 0 auto 105px;
    width: 1050px;
    padding: 15px 50px 0 700px;
  }

  .process .process__video {
    position: absolute;
    width: 680px;
    height: 453px;
    top: 0;
    left: 0;
    background-image: url("../img/video-desktop@1x.webp"), url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.webp"), url("../img/video-desktop@2x.jpg");
      background-size: 680px auto;
    }
  }

  .process .process__video--button {
    left: 285px;
    top: 185px;
  }

  .process .process__heading {
    padding: 78px 25px 32px 60px;
    letter-spacing: 0;
  }

  .process .process__heading--icon {
    left: 60px;
    top: 25px;
  }

  .process .process__description {
    padding: 0 0 48px 60px;
  }

  .process .process__button--buy {
    width: 230px;
    padding: 12px 0 14px;
    margin-left: 60px;
    margin-bottom: 60px;
  }
}
