/*mobile-version*/

.promo-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 37px 30px;
  margin: 0 auto;
  color: @light-black;
  text-align: left;
  font-weight: bold;
}

.promo-item .promo-item__heading {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
}

.promo-item .promo__ad {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  line-height: 20px;
  color: @light-blue;
  text-transform: uppercase;
}

.promo-item .promo__ad br {
  display: none;
}

.promo-item .promo-item__desc {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 15px;
}

.promo-item .promo-item__table {
  width: 260px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.promo-item .promo-item__table td {
  font-size: 15px;
  border-bottom: 1px solid @gray;
  padding: 10px 10px 10px 0;
}

.promo-item .promo-item__img {
  width: 260px;
  height: 315px;
  margin: 0 auto;
}

.promo-item .promo-item__price {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.promo-item .promo-item__buy {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 17px 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  border: 2px solid @black;
  color: @light-black;

  &:hover,
  &:focus {
    color: @white;
    background-color: @light-black;
  }

  &:active {
    color: @gray;
  }
}

.promo-item::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat;
  background-size: contain;
}

/*tablet-version*/

@media (min-width: 768px) {
  .promo-item {
    position: relative;
    justify-content: stretch;
    align-items: flex-start;
    width: 768px;
    padding: 40px 50px;
    margin: 0 auto;
  }

  .promo-item .promo-item__heading {
    display: block;
    margin-bottom: 60px;
    font-size: 43px;
    line-height: 50px;
  }

  .promo-item .promo__ad {
    position: absolute;
    top: 45px;
    right: 75px;
    line-height: 17px;
    text-align: center;
  }

  .promo-item .promo__ad br {
    display: block;
  }

  .promo-item .promo-item__desc {
    width: 290px;
    margin-bottom: 40px;
    margin-right: 45px;
    line-height: 30px;
  }

  .promo-item .promo-item__table {
    width: 290px;
    margin-bottom: 20px;
    margin-right: 45px;
  }

  .promo-item .promo-item__table td {
    line-height: 20px;
  }

  .promo-item .promo-item__img {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 334px;
    height: 406px;
    z-index: -1;
  }

  .promo-item .promo-item__price {
    width: 290px;
    margin: 20px 45px 20px 0;
    font-size: 20px;
  }

  .promo-item .promo-item__buy {
    width: 290px;
    margin: 15px 45px 0 0;
    padding: 17px 0;
    text-align: center;
    border: 2px solid @black;
    text-transform: uppercase;
    line-height: 20px;
    color: @light-black;
  }

  .promo-item::after {
    height: 15px;
  }
}

/*desktop-version*/

@media (min-width: 1250px) {
  .promo-item {
    position: relative;
    width: 1250px;
    padding: 135px 0 70px 270px;
    margin: 0 auto;
  }

  .promo-item .promo-item__heading {
    margin-bottom: 65px;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
  }

  .promo-item .promo__ad {
    position: absolute;
    left: 125px;
    top: 145px;
    width: 120px;
    line-height: 17px;
    text-align: center;
  }

  .promo-item .promo-item__desc {
    width: 350px;
    margin-bottom: 50px;
    padding-right: 70px;
  }

  .promo-item .promo-item__img {
    z-index: -1;
    bottom: 70px;
    right: 100px;
    width: 525px;
    height: 640px;
  }

  .promo-item::after {
    height: 20px;
  }
}
